<div id="state-container">
    <% states.forEach(state => { %>
    <div class="state-card">
      <h2>State: <%= state.stateName %></h2>
      <p>Last updated:<br> <%= state.date %></p>
      <p>Positive cases:<br> <%= state.positive %></p>
      <p>Negative cases:<br> <%= state.negative %></p>
      <p>Hospitalized currently:<br> <%= state.hospitalizedCurrently %></p>
      <p>Total recovered:<br> <%= state.recovered %></p>
      <p>Total deaths:<br> <%= state.death %></p>
      <p>Total tests:<br> <%= state.totalTest %></p>
      <p>Total positive tests:<br> <%= state.positiveTests %></p>
      <p>Total negative tests:<br> <%= state.negativeTests %></p>
      <br>
      <form method="POST" action="/saveState">
        <input type="hidden" value="<%= state.stateName %>" name="name">
        <input type="hidden" value="<%= state.positive %>" name="positive">
        <input type="hidden" value="<%= state.negative %>" name="negative">
        <input type="hidden" value="<%= state.hospitalizedCurrently %>" name="hospitalized">
        <input type="hidden" value="<%= state.recovered %>" name="recovered">
        <input type="hidden" value="<%= state.death %>" name="death">
        <input type="hidden" value="<%= state.totalTest %>" name="total_test">
        <input type="hidden" value="<%= state.positiveTests %>" name="positive_test">
        <input type="hidden" value="<%= state.negativeTests %>" name="negative_test">
        <button type="submit">Save to fav.</button>
      </form>
    </div>
    <% }) %>
  </div>