  <% states.forEach(state => { %>
  <div class="state-card">
    <table>
      <td colspan="2" style="text-align:center">
        <img src="<%= state.flag %>" alt="<%= state.stateName %>">
        <h2 id="stateName"><%= state.displayName %></h2>
      </td>
      </tr>
      <tr>
        <th class="tHead">Type</th>
        <th class="tHead">Number</th>
      </tr>
      <tr>
        <td><hr>Positive cases</td>
        <td><hr><%= state.positive %></td>
      </tr>
      <tr>
        <td>Negative cases</td>
        <td><%= state.negative %></td>
      </tr>
      <tr>
        <td>Hospitalized currently</td>
        <td><%= state.hospitalizedCurrently %></td>
      </tr>
      <tr>
        <td>Total recovered</td>
        <td><%= state.recovered %></td>
      </tr>
      <tr>
        <td>Total deaths</td>
        <td><%= state.death %></td>
      </tr>
      <tr>
        <td>Total tests</td>
        <td><%= state.totalTest %></td>
      </tr>
      <tr>
        <td>Total positive tests</td>
        <td><%= state.positiveTests %></td>
      </tr>
      <tr>
        <td>Total negative tests</td>
        <td><%= state.negativeTests %></td>
      </tr>
      <tr>
        <td>Last updated</td>
        <td><%= state.updatedTime %></td>
      </tr>
      <tr>
        <td colspan="2" style="text-align:center">
          <div id="save-button">
            <form method="POST" action="/saveState">
              <input type="hidden" value="<%= state.stateName %>" name="name">
              <input type="hidden" value="<%= state.positive %>" name="positive">
              <input type="hidden" value="<%= state.negative %>" name="negative">
              <input type="hidden" value="<%= state.hospitalizedCurrently %>" name="hospitalized">
              <input type="hidden" value="<%= state.recovered %>" name="recovered">
              <input type="hidden" value="<%= state.death %>" name="death">
              <input type="hidden" value="<%= state.totalTest %>" name="total_test">
              <input type="hidden" value="<%= state.positiveTests %>" name="positive_test">
              <input type="hidden" value="<%= state.negativeTests %>" name="negative_test">
              <input type="hidden" value="<%= state.displayName %>" name="displayName">
              <input type="hidden" value="<%= state.flag %>" name="flag">
              <button type="submit" onclick="saveAlert('<%= state.displayName %>')">Add to Home</button>
            </form>
          </div>
          <div id="delete-button">
            <form method="POST" action="/states/<%= state.stateName %>?_method=DELETE">
              <button>Delete State</button>
            </form>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <% }) %>

<script>
  function saveAlert(stateName){
  let savedState = stateName;
  alert(`${stateName} saved to home page`)
}
</script>